@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin-top: 70px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-expand-lg {
  min-height: 60px;
  height: auto;
  display: flex;
  margin: 0%;
}

.navbar-brand {
  margin-bottom: 0px;
}

.navbar-toggler {
  width: 50px;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav-link {
  border-radius: 25px;
}

.img-logo {
  height: 40px;
}

.nav-item {
  margin-left: 2px;
  margin-right: 2px;
}

#productsList {
  margin: 12px auto;
  border: 2px solid white;
  min-width: 280px;
  width: 92%;
  table-layout: fixed;
  overflow-x: auto;
  font-size: 13px;
}

#productsList th,
#productsList td {
  border: 1px solid white;
  color: whitesmoke;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#productsList th:first-child,
#productsList td:first-child {
  width: 10%;
}

#productsList th:nth-child(2),
#productsList td:nth-child(2) {
  width: 20%;
}

#productsList th:nth-child(3),
#productsList td:nth-child(3) {
  width: 20%;
}

#productsList th:nth-child(4),
#productsList td:nth-child(4) {
  width: 15%;
}

#productsList th:nth-child(5),
#productsList td:nth-child(5) {
  width: 15%;
}

#productsList thead th {
  background-color: #4a4a4a;
  color: white;
  font-weight: lighter;
}

#productsList tbody tr {
  cursor: pointer;
}

#productForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

#productForm .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#productForm input {
  flex: 1;
  margin-right: 5px;
}

#imageURLSpan {
  color: lightgray;
}

.form-group {

  display: flex;
  flex-direction: row;

}

#btnE, #btnA {
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
  border: solid white 1px;
  cursor: pointer;
  margin: 10px;
  width: 120px;
}

#btnE {
  background: linear-gradient(to right, red, darkred);
}

#btnA {
  background: linear-gradient(to right, green, darkgreen);
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.errores{
  box-shadow: 10px;
  color: palevioletred;
  display: block;
  position: absolute;
  margin-bottom: -40px ;
  font-size: 14px;
  margin-bottom: 1px;
  padding: 5px;
  position: relative;
  border-radius: 20px;
}