@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin-top: 70px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-expand-lg {
  min-height: 60px;
  height: auto;
  display: flex;
  margin: 0%;
}

.navbar-toggler {
  width: 50px;
}

.img-logo {
  height: 40px;
}

.nav-item {
  margin-left: 2px;
  margin-right: 2px;
}

#productsList {
  margin: 12px auto;
  border: 4px solid white;
  min-width: 280px;
  width: 92%;
  table-layout: fixed;
  overflow-x: auto;
}

#productsList th,
#productsList td {
  border: 1px solid white;
  color: whitesmoke;
  text-align: left;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#productsList th:first-child,
#productsList td:first-child {
  width: 10%;
}

#productsList th:nth-child(2),
#productsList td:nth-child(2) {
  width: 20%;
}

#productsList th:nth-child(3),
#productsList td:nth-child(3) {
  width: 20%;
}

#productsList th:nth-child(4),
#productsList td:nth-child(4) {
  width: 15%;
}

#productsList th:nth-child(5),
#productsList td:nth-child(5) {
  width: 15%;
}

#productsList thead th {
  background-color: #4a4a4a;
  color: white;
  font-weight: lighter;
}

#productsList tbody tr {
  cursor: pointer;
}

#productForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#productForm .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#productForm input {
  flex: 1;
  margin-right: 5px;
}

.form-group {

  display: flex;
  flex-direction: column;

}

.btn {
  margin-top: 10px;
}

span {
  margin-top: 10px;
}