@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.img-small {
  size: 200px;
}

.navbar {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-expand-lg {
  min-height: 60px;
  height: auto;
  display: flex;
  margin: 0%;
}

.navbar-brand {
  margin-bottom: 0px;
}

.navbar-toggler {
  width: 50px;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav-link {
  border-radius: 25px;
}

.img-logo {
  height: 40px;
}

.nav-item {
  margin-left: 2px;
  margin-right: 2px;
}

.navbar-login {
  color: rgb(77, 151, 255);
  text-decoration: none;
  margin-right: 20px;
  background-color: rgb(62, 72, 85);
  border-radius: 30px;
  padding: 5px;
  display: flex;
  justify-content: right;
  font-size: 13px;
}


body {
  background-image: url(mockups/5.png);
  background-size: 100%;
}